<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Nothing here</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The page you are looking for doesn't exist.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","buttonText":"Search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
